@import './header.css';

.page{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content{
  display: flex;
  border: 1px solid black;
}

.left{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}